[submodule "lain"]
	path = lain
	url = git@github.com:copycat-killer/lain.git
[submodule "awesome-switcher-preview"]
	path = awesome-switcher-preview
	url = git@github.com:berlam/awesome-switcher-preview
